.header {
  display: flex;

  width: 100%;
  height: 55px;

  position: fixed;
  top: 0px;
  z-index: 10;

  background-image: linear-gradient(
                  rgb(12, 16, 33),
                  rgb(37, 39, 54) 87%,
                  rgb(27, 29, 43)
  );

  &__logo {
    display: block;
    width: 95px;
    padding: 0px 2px;

    position: absolute;
  }

  &__auth-group {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    padding-top: 7px;
  }

  &__auth-btn {
    height: 43px;
    margin: 0px 5px;
  }
}